body{background-color: blueviolet;
font-family: 'Courier New', Courier, monospace;
font-size: 24px;
text-align: justify;
marigin:12px;
padding:8px;
border:10px}
ol{padding:7px;
border:7px;
margin: 5px}
ul{padding:7px;
border:6px}

